<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <h1>Log In</h1>
      <%= form_tag("/signin", method: "post") do %>
        <div class="field">
          <%= label_tag :email %><br />
          <%= text_field_tag :email, params[:email] %>
        </div>
        <div class="field">
          <%= label_tag :password %><br />
          <%= password_field_tag :password %>
        </div>
        <div class="actions"><%= submit_tag "Log In" %></div>
      <% end %>
  </div>
</div>
