<div class="instructor-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <%= image_tag("kaylee-garrett-yoga-lesson", size: "300x200", alt: "logo") %>
      </div>
    </div>

    <div class="col-md-8 basic-info">
      <div class="instructor-wrapper">
        <h3 class="name"> <%= @instructor.name %></h3>
        Bio: <p class="name"> <%= @instructor.bio %></p>
        Class Schedule: <p class="name"> <%= @instructor.class_time %></p>
      </div>

    </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Lesson</th>
      <th>city</th>
      <th>Price</th>
      <th>Available</th>
      <th>Seats left</th>
    </tr>
  </thead>

  <tbody>
    <% @instructor.lessons.each do |lesson| %>
    <tr>
      <td><%= link_to lesson.title, lesson_path(lesson) %></td>
      <td><%= lesson.city %></td>
      <td><%= number_to_currency(lesson.price) %></td>
      <td><%= human_boolean(lesson.available) %></td>
      <td><%= lesson.seats %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% if current_user && current_user.admin %>
    <%= link_to "Edit Instructor", edit_instructor_path(@instructor.id), class: 'btn btn-info' %>
    <%= link_to "Delete Instructor", instructors_path(@instructor.id), method: 'DELETE', class: 'btn btn-info' %>
<% end %>
