<h2>booked Lessons</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Lesson</th>
      <th>Instructor</th>
      <th>Dates</th>
      <th>Time</th>
      <th>Address</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
    <tr>
      <td><%= link_to booking.lesson.title, lesson_path(booking.lesson) %></td>
      <td><%= link_to booking.lesson.instructor.name, instructor_path(booking.lesson.instructor) %></td>
      <td><%= booking.lesson.dates %></td>
      <td><%= booking.lesson.time %></td>
      <td><%= booking.lesson.address %>, <%= link_to booking.lesson.city %> <%= link_to booking.lesson.state %></td>
    </tr>
    <% end %>
  </tbody>
</table>
