<% provide(:title, 'Sign up') %>
<%= link_to image_tag("favicon.ico", size: "60x60", alt: "logo"), root_path, class: "col-md-6 col-md-offset-3" %>
<h2 class="col-md-6 col-md-offset-3">Sign Up</h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'error_messages' %>

      <%= f.label :email %><br>
      <%= f.email_field :email, class: 'form-control' %><br>

      <%= f.label :password %><br>
      <%= f.password_field :password, class: 'form-control' %><br>

      <%= f.label :password_confirmation, "Confirmation" %><br>
      <%= f.password_field :password_confirmation, class: 'form-control' %><br>

      <p>Admin? <%= f.check_box :admin, options = {:class => "user_admin"} %></p>
      <br>
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
