<% if @user.admin %>
	<h4><%= link_to "Admin Dashboard", rails_admin_path %></h4>
<% end %>

<p>Signed in as  <%= @user.email %></p>
<br>
<h4>My Booked Lessons:</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Lesson</th>
      <th>Instructor</th>
      <th>Dates</th>
      <th>Time</th>
      <th>Address</th>
    </tr>
  </thead>

  <tbody>
    <% @user.bookings.each do |booking| %>
    <tr>
      <td><%= link_to booking.lesson.title, lesson_path(booking.lesson) %></td>
      <td><%= link_to booking.lesson.instructor.name, instructor_path(booking.lesson.instructor) %></td>
      <td><%= booking.lesson.dates %></td>
      <td><%= booking.lesson.time %></td>
      <td><%= booking.lesson.address %>, <%= booking.lesson.city %> <%= booking.lesson.state %></td>
    </tr>
    <% end %>
  </tbody>
</table>
