<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Edit Section</h3>
    <%= form_for @section do |f| %>
      <%= render 'shared/errors', object: @section %>

      <%= f.label "Section Name: " %>
      <%= f.text_field :name %><br>
      <br>
      <%= f.submit "Submit", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
