<h4><%= link_to "All Sections", sections_path %> > <%= @section.name %> </h4>
<h2><%= @section.name %></h2>
<% @section.skills.each do |skill| %>
  <h4><%= link_to skill.name, skill_path(skill.id) %></h4>
  <div class="lessons">
    <table class="table table-striped" style="width: 100%">
      <colgroup>
       <col span="1" style="width: 50%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 10%;">
     </colgroup>
      <thead>
        <tr>
          <th>Lesson</th>
          <th>Instructor</th>
          <th>city</th>
          <th>Seats left</th>
        </tr>
      </thead>

      <tbody>
        <% skill.lessons.each do |lesson| %>
        <tr>
          <td><%= link_to lesson.title, lesson_path(lesson) %></td>
          <td><%= link_to lesson.instructor.name, instructor_path(lesson.instructor) %></td>
          <td><%= lesson.city %></td>
          <td><%= lesson.seats %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<% if current_user && current_user.admin %>
    <%= link_to "Add New Skill", new_section_skill_path(@section.id), class: 'btn btn-info' %>
    <%= link_to "Edit Section", edit_section_path(@section.id), class: 'btn btn-info' %>
<% end %>
