<h2>Lessons with Available Seats</h2>

Search for a lesson:
<%= form_tag(lessons_path, method: :get) do %>
  <%= text_field_tag :title %>
  <%= submit_tag 'Search', :class => 'btn btn-info' %>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Lesson</th>
      <th>Instructor</th>
      <th>city</th>
      <th>Price</th>
      <th>Available</th>
      <th>Seats left</th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
    <tr>
      <td><%= link_to lesson.title, lesson_path(lesson) %></td>
      <td><%= link_to lesson.instructor.name, instructor_path(lesson.instructor) %></td>
      <td><%= lesson.city %></td>
      <td><%= number_to_currency(lesson.price) %></td>
      <td><%= human_boolean(lesson.available) %></td>
      <td><%= lesson.seats %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% if current_user && current_user.admin %>
    <%= link_to 'New Lesson', new_lesson_path, class: 'btn btn-info' %>
<% end %>
