<% if @lesson.errors.any? %>
    <% @lesson.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
<% end %>

<h3><%= @lesson.title %></h3>
<%= @lesson.about %><br><br>

Instructor: <%= link_to @lesson.instructor.name, instructor_path(@lesson.instructor.id) %><br><br>

Price in dollars: <%= number_to_currency(@lesson.price) %><br />
Seats: <%= @lesson.seats %><br />
Dates: <%= @lesson.dates %><br />
Time: <%= @lesson.time %><br />
Length in hours: <%= @lesson.length %> <br />
Requirement: <%= @lesson.requirement %><br />
Available? <%= human_boolean(@lesson.available) %><br />
Online Lesson? <%= human_boolean(@lesson.online) %><br />
Address: <%= @lesson.address %>, <%= @lesson.city %>, <%= @lesson.state %> <%= @lesson.zipcode %><br />
<br>
<% if current_user && current_user.admin %>
    <%= link_to "Edit lesson", edit_lesson_path(@lesson.id), class: 'btn btn-info' %>
    <%= link_to "Delete lesson", lessons_path(@lesson.id), method: 'DELETE', class: 'btn btn-info' %>

<% elsif current_user %>
    <%= form_tag("/bookings", method: "post") do %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= hidden_field_tag :lesson_id, @lesson.id %>
        <%= button_tag "Book this lesson", class: 'btn btn-info' %>
    <% end %>

<% else %>
    <br>
    To book this lesson, please <%= link_to "Sign up", new_user_path %> or
    <%= link_to "Log in", new_session_path %> .
<% end %>
