<% if @lesson.errors.any? %>
    <% @lesson.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
<% end %>

<h3><%= @lesson.title %></h3>
About: <%= @lesson.about %><br />
Price: <%= @lesson.price %> dollars<br />
Seats: <%= @lesson.seats %><br />
Dates: <%= @lesson.dates %><br />
Time: <%= @lesson.time %><br />
Length: <%= @lesson.length %> hour<br />
Requirement: <%= @lesson.requirement %><br />
Still Available? <%= @lesson.available %><br />
Lesson is online? <%= @lesson.online %><br />
Address: <%= @lesson.address %><br />
City: <%= @lesson.city %>, <%= @lesson.state %> <%= @lesson.zipcode %><br />
<% if current_user && current_user.admin %>
  <%= link_to "Edit lesson", edit_lesson_path(@lesson) %>
<% else %>

    <%= form_tag("/bookings", method: "post") do %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= hidden_field_tag :lesson_id, @lesson.id %>
        <%= button_tag "Book this Lesson" %>
    <% end %>
<% end %>

<br>
<p><%= link_to 'All lessons', lessons_path %></p>
