<% if @lesson.errors.any? %>
    <% @lesson.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
<% end %>
<h4><%= link_to "All Sections", sections_path %> > <%= link_to @lesson.skill.section.name, section_path(@lesson.skill.section.id) %> > <%= link_to @lesson.skill.name, skill_path(@lesson.skill.id) %> > <%= @lesson.title %></h4>
<h3><%= @lesson.title %></h3>
<div class="row">
  <div class="col-md-4">
    <div class="wrapper">
      <%= image_tag(@lesson.instructor.picture_url, size: "300x200", alt: "picture") if @lesson.instructor.picture.present? %>
    </div>
  </div>

  <div class="col-md-8 basic-info">
    <div class="instructor-wrapper">
      <%= @lesson.about %><br><br>
      Instructor: <%= link_to @lesson.instructor.name, instructor_path(@lesson.instructor.id) %><br><br>
    </div>
  </div>
</div>

<br>
Price in dollars: <%= number_to_currency(@lesson.price) %><br />
Seats: <%= @lesson.seats %><br />
Dates: <%= @lesson.dates %><br />
Time: <%= @lesson.time %><br />
Length in hours: <%= @lesson.length %> <br />
Requirement: <%= @lesson.requirement %><br />
Available? <%= human_boolean(@lesson.available) %><br />
Online Lesson? <%= human_boolean(@lesson.online) %><br />
Address: <%= @lesson.address %>, <%= @lesson.city %>, <%= @lesson.state %> <%= @lesson.zipcode %><br />
<br>
<% if current_user && current_user.admin %>
    <%= link_to "Edit lesson", edit_lesson_path(@lesson.id), class: 'btn btn-primary' %>
    <%= link_to "Delete lesson", lesson_path(@lesson.id), data: {:confirm => 'Are you sure?'}, method: 'DELETE', class: 'btn btn-primary' %>

<% elsif current_user %>
    Enter student name to book the lesson:
    <%= form_tag("/bookings", method: "post") do %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= hidden_field_tag :lesson_id, @lesson.id %>
        Student Name: <input name="full_name"><br>
        Student Phone: <input name="phone"><br>
        <%= button_tag "Book this lesson", class: 'btn btn-primary' %>
    <% end %>

<% else %>
    <br>
    To book this lesson, please <%= link_to "Sign up", new_user_path %> or
    <%= link_to "Log in", new_session_path %> .
<% end %>
