<h2><%= link_to @instructor.name, instructor_path(@instructor)%></h2>
Average rating: <%= @instructor.average_rating %> <br>
Review count: <%= @instructor.review_count %>  <br><br>
<% @reviews.each do |review| %>
  <%= review.created_at.strftime("%b %d, %Y") %><br>
  <%= review.body %><br>
<% end %>
